
 /* SectionHome container */

 .sectionHome_container{
    
    width:100%;
    display: flex;
    flex-direction:column; 
    justify-content: space-between;
    align-items: center;
    margin:10px auto 70px;
    padding: 5px 5px;    
    color: var(--cor-secundary);
    
 }




/* circle Image container */

.circleImage_container {
    width: 220px; 
    height: 220px;
    margin-top:70px;
    background-image: var(--cor-primary-linear-gradient); 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
    box-shadow: 2px 2px 3px black;
    
}


.perfil_image {
    width: 95%;
    height: 95%;
    object-fit: cover;    
    display:block;
    border-radius:50%; 
    z-index:0;
}


/* Texto Seção Home */

.text_section_home {
    width:100%;
    margin-top:40px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

}

.title_text_home{

    width:100%;
    font-size:1.3rem;
    font-weight: lighter;
    text-align:center;
    line-height: 25px;
}

.title_text_home strong{
    font-size:1.8rem;
    margin-top:15px;
    font-weight:normal;
    display:block;
}


.title_subtext_home {
    display:block;
    margin-top:20px;
    width:90%;
    max-width:300px;
    font-size:0.9rem;
    font-weight: lighter;
    text-align:justify;
    line-height: 22px;
}

/* Midias sociais e curriculo */

.social_container{

    width:90%;
    margin-top:20px;
    display:flex; 
    flex-direction:row;
    flex-wrap: wrap;      
    justify-content:center;
    align-items:center; 
    gap:20px;
    
}

.social_container li {
    display:flex;
    flex-direction:row;
    max-height:30px;  
    cursor:pointer; 
    }

.social_container li:active {
    transform:scale(1.1);
}    

.social_container li a img {

    object-fit:cover;
    max-width:30px;
    max-height:30px;
    filter: drop-shadow(2px 2px 2px var(--cor-secundary-alpha))  
}






/* Responsividade telas mairoes que 700px */
@media (min-width: 800px ) {
    .sectionHome_container{
        max-width:900px;  
        display: flex;
        flex-direction:row-reverse;
        justify-content:space-around;
        align-items: center;
        
        margin-top:100px;
        margin-bottom:100px;
        padding:0% 5%;

     }

     .text_section_home {
        width:500px;
        align-items: start;
        margin:0px;                
    }

    .title_text_home {
        text-align: left;
         line-height: 30px;
    }

    .title_text_home h1 {
        
        font-size:4rem;
        line-height: 30px;
    }

    .text_frontEnd{
       
        font-size:2.5rem;
    }

    .circleImage_container {
        min-width: 250px; 
        min-height: 250px;
        margin-top:0px;
        display: flex;
        align-items: center;
        justify-content: center;               
    }

    .social_container {
        width:50%;
        max-width: 300px;
        justify-content:start;
        align-items:center; 
    }
}

@media (min-width:1080px){
    .sectionHome_container{
        padding:0% 0%;
        margin-bottom:100px;
        margin-top:150px;
     }

    .text_section_home {
        width:600px;
                      
    }

    .title_text_home{
        width:100%;
        font-size:2rem;
    }
    
    
    .title_subtext_home {
        max-width:60%;
        width:60%;
        font-size:1.1rem;
    }

    .circleImage_container {
        width: 310px; 
        height: 310px;
        margin-top:0px;
        display: flex;
        align-items: center;
        justify-content: center;        
    }
}