

/* Container portifolio */

.content_portifolio{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin:0px;
    padding: 15px 0px 5px 0px;
       
}

/* Gerais do Portifolio */
.btn_arrowImage_portifolio{
    max-width:20px;
    height: 20px;
    margin:0px 10px 0px 0px;
    padding: 0px 0px 0px 0px;
}





/* Conteudos Project + Work*/

.container_work,
.container_project{

    width:100%;
    display:flex;
    flex-direction:column;
    margin-bottom:20px;
    padding:15px 5px;
    color:var(--cor-secundary);
    background: var(--cor-primary); 
    
    border: 1px solid var(--cor-primary); 
    border-radius:20px;
   

}


.content_work,
 .content_project{
    
    width:100%;
    max-height: 0px;
    overflow:hidden;
    opacity:0;    
    
    transition: max-height 0.1s ease;  

}



.header_project,
.header_work{
    display:flex;
    align-items:center;
    justify-content:space-between;
     
}

.title_header{
    display:flex;
    align-items:center;
    gap:20px;
}


.content_list{
    display:flex;
    flex-direction:row;
    white-space: nowrap;
    max-width:100%;
    gap:20px;    
    overflow-x:auto;
}

.content_items {
    width:200px;       
    flex: 0 0 auto; /* grow - shrink - basis */
    margin:10px 0px;
    padding:10px 8px;
    background-image:var(--cor-primary-linear-gradient);
    list-style: none;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    gap:8px;
    
}


/* Items */

.container_Image{
    width:100%;    
    display:flex;
    align-items:center;
    justify-items:center;
    border-radius:10px;
    padding:10px 10px;
    background: var(--cor-primary);
   
}
.container_Image a {
    margin:0px;
    padding:0px;
    width:100%;

}
.container_Image a:hover {    
    transform: scale(1.05);
}

.covers_image{
    width:100%;
    height:100%;
    
    border-radius:10px;
}




.footer_item{
    width:100%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-items:center;
    align-self:start;
    background: var(--cor-primary); 
    border-radius:10px;
    padding:5px 5px;
    gap:10px;
    
}

.footer_item a{
    margin:0px;
    padding:0px;
    max-width:25px;
    height: 25px;

}

.iconImage2{
    max-width:25px;
    height: 25px;    
    object-fit:cover;
    filter: drop-shadow(0 0 0.20rem var(--cor-secundary));
}



/* Efeito ativo do conteudo */

.content_project.active,
 .content_work.active{
    overflow:visible;
    opacity:1;

    max-height: 1000px;
     
    display:flex;
    overflow:visible;
    opacity:1;
    padding:0px 10px;
    margin:15px 0px;
    text-align: justify;

    transition:opacity 1.5s ease, max-height 0.5s ease;
}




