
/* Container principal */
.content_container {
    position: relative;
    overflow: hidden;
    max-width: 100%; 

    mask: linear-gradient(
      to right,
      transparent 0%,
      black 15%,
      black 85%,
      transparent 100%
    );
    -webkit-mask: linear-gradient(
      to right,
      transparent 0%,
      black 15%,
      black 85%,
      transparent 100%
    );
}
  

.slider-track {
  display: flex;
  width: max-content;

   
  animation: slideInfinite 30s linear infinite;
}

  /* animação de slider infinito */
  @keyframes slideInfinite {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%); 
    }
  }

/* Note que usamos as duas classes juntas no mesmo elemento */
.slider-track.list_not_animation {
    display: flex !important;
    justify-content: center !important;
    width: 100% !important; /* Ocupa a largura total para centralizar */
    animation: none !important; /* Mata a animação */
    transform: none !important; /* Garante que não pare no meio do caminho */
}

/* Garante que a lista interna também se comporte bem */
.slider-track.list_not_animation  {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    width: 100%;
}

.images-list {
    display: flex;         
    overflow-x: hidden;
    position: relative;
    align-items:center;
    justify-content:start;   
    margin-top:2px    
  }




.image-item {
  margin-right: 20px; 
}
  
.image-item:last-child {
  margin-right: 0; 
}

.image-skills-image{
    max-width:70px;
    max-height:70px;
    object-fit:cover;
}


/* regra para afetar somente a seção de habilidade */
.content.active.skills-wrapper {
    flex-direction: column; 
    align-items: stretch;   
    gap: 25px;              
}
